<!-- <html>
    <head>

    </head>
    <body>
        <b>
            The list is:
        </b>
        <p>
            <li>
                {{name}}
            </li>
        </p>

        {% for i in users%}
        {{i}}
        <br/>
        {{i.get_fullname}}
        <br/>
        {%endfor%}
    </body>
</html> -->

<!DOCTYPE html>
<html>
    <head>
        <title>chatbot</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
    </head>
    <body>
        <div class="container-fluid h-100">
            <div class="row justify-content-center">
                <div class="col-md-4 col-xl-3 chat">
                    <div class="card mb-sm-3 mb-md-0 contacts_card">
                    <div class="card-header" >
                        <div class="input-group">
                            <input type="text" placeholder="Search..." name="" class="form-control search">
                            <div class="input-group-prepend">
                                <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                            </div>
                        </div>
                    </div>
                    <form action="/thelist/" method="GET">{% csrf_token %}
                    <div class="card-body contacts_body">
                            
                        <div class="d-flex bd-highlight">
                           
                            <div class="user_info">
                                <span>
                                   
                                    {% for i in users%}
                                        <button type="button" name="usr" class="btn btn-link ">
                                       {{i}}                                        
                                        </button>
                                        <hr>
                                    {%endfor%}
                               
                                </span>
                                 
                            </div>
                        </div>
                         
                    </div>
                </form> 
                    <div class="card-footer"></div>
                </div>
            </div>
        
        <div class="col-md-8 col-xl-6 chat">
                <div class="card">
                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">
                            
                            <div class="user_info">
                                <span>Chat with</span>
                                
                            </div>
                            
                        </div>
                    </div>
                    <div class="card-body msg_card_body">
                        {% for i in message%}
                        <div class="d-flex justify-content-start mb-4">
                            
                            <div class="msg_cotainer_send">
                                
                                
                                    {{i}}
                                    <br>
                                
                               
                                <!-- <span class="msg_time">8:40 AM, Today</span> -->
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                    <div class="card-footer">
                    <form action="/thelist/" method="POST">{% csrf_token %}
                        <div class="input-group">
                            <textarea name="mssg" class="form-control type_msg" placeholder="Type your message..."></textarea>
                            <div class="input-group-append">
                                
                                <button class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></button>
                                
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>